@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,300,700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700,400italic);
@import url(http://fonts.googleapis.com/css?family=Rye);

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  background: #eee;
  color:#111;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-variant: small-caps;
  font-family: 'Droid Serif', serif;
}

ul{
  margin: 0;
  padding: 20px 10px;
  list-style: none;
}

ul li{
  padding-top: 5px;
}
/*nav {
  position: relative;
  z-index: 999;
  width: 200px;
}*/
nav a{
  display: block;
  padding: 5px 0;
  width: 100%;
  border-bottom: dotted 1px rgba(255,255,255,0.2);
  color: #eee;
  text-decoration: none;
  transition: all .1s ease;/*  The thing that animates the entire nav bar*/
}

nav li:last-of-type a{
  border: 0;
}

nav a:hover{
  padding-left: 5px;
  color: #F1C40F;
}

.currentlyAt {
  padding-left: 5px;
  color: #F1C40F;
  font-style: italic;
}

nav{
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background: #333;
  box-shadow: -10px 0 10px -5px #222 inset;
}



nav, .content{
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}




.content{
  margin-left:120px;
  position: relative;
  float: left;
}

.container {
  margin-top: 50px;
  font-size: 1.1em;
  line-height: 150%;
}

.container h1 {
  padding-bottom: .35em;
  border-bottom: 2px dotted #F1C40F;
  text-shadow: 2px 2px 1px #F1C40F;
  font-weight: 700;
  font-size: 6em;
  /*font-family: 'Droid Serif', serif;*/
}

.mainBody{
  position: relative;
  left: 95px;
  float: left;
  width:700px;
}

.mainBody aside {
  margin-left: 40px;
  font-style: italic;
  font-size: .9em;
}

.mainBody a {
  text-decoration: none;
  color: black;
}

.mainBody a:visited {
  text-decoration: none;
  color: black;
}

.mainBody a:active {
  text-decoration: underline;
}

.mainBody article{
  display: block;
  height: 200px;
}

.mainBody article p {
  /*float: left;*/
  font-size: .75em;
}

.mainBody article h2 {
  float: left;
  margin-right: 40px;
  margin-bottom: 150px;
  margin-left: -10px;
  width: 170px;
  border-bottom: 1px dotted #F1C40F;
  font-weight: 800;
  font-size: 1.2em;
}


.mainBodyRight {
  float: left;
  margin-left: 2em;
  padding-left: 1em;
  width: 60%;
  border-left: 1px solid gray;
}

.quotes {
  float: left;
  margin-left: 2em;
  padding-left: 1em;
  width: 20%;
  border-left: 1px solid gray;
}

/*
SPLASH BODY STYLES
*/

.splashBody {
  position: fixed;
  width: 100%;
  height: 100%;

  background: url(images/splashBG.jpg) no-repeat center center fixed;
  background-color: black;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.splashBodyWords {
  margin-top: 30%;
  /*display: inline-block;*/
  /*width: 100%;*/
}

.splashBody a {
  color: #000000;
  text-decoration: none;
  text-shadow: 2px 2px 1px #f1c411;
}

.splashBody a:visited {
  color: #000000;
}
.splashBodyWords h1 {
  padding-right: 5%;
  background: rgba(139, 137, 137, .5);
  text-align: right;
  font-size: 10em;

}


/*
GLASS PAGE DESCRIPTIONS
*/
.glassDescription {
  margin-top: 50px;
  margin-left: 60px;
  width: 80%;
  font-size: 16px;
}

.glassDescription p {
  width: 600px;
}

.glassDescription h1 {
  margin-top: 25px;
}

.glassDescription h2 {
  margin-top: 20px;
}
.glassDescription img {
  position: relative;
  left: 20%;
  float: right;
  max-width: 172px;
  max-height: 400px;
}

.glassDescription article {
  height: 100%;
  display:block;
}


.glassesDisplay {
  float: left;
  margin-left: 100px;
}

.glassesDisplay a {
  float: left;
}

.glassesDisplay article {
  width: 250px;
  display: inline;
  text-align: center;
}

.glassesDisplay article img {
display: block;
width: 129px;
height: 141px;
}

.glassesDisplay article a:hover {
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: all .1s;
}

/*
PULLQUOTE INFORMATION
*/

.pullQuote {
  position: relative;
  margin-top: 30px;
  font-weight: 100;
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  }
.pullQuote footer {
    float: right;
    color: black;
    font-weight: 900;
    font-size: 0.6em;
    font-family: 'Noto Sans', sans-serif;
}
.pullQuote:before {
      content: '-';  
}
.pullQuote:after {
      position: absolute;
      top: 0.28em;
      right: 0;
      z-index: -1;
      color: darken($white, 7%);
      content: '\n"';
      font-style: italic;
      font-size: 6em;
   }


/*
ID'S
*/


#smallTop {
  position: relative;
  top: -80px;
}